.subsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 7%;
}
.subtext{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.005em;
    text-align: center;
    padding-bottom: 3%;
}